
@import "http://webfonts.ru/import/eurofurence.css";
@import "http://webfonts.ru/import/furore.css";


@media (min-width: @screen-sm-min) { 
#clockdiv {
  margin-top: 20px;
}
.holder {
  

  margin: 50px auto 20px;
 
}


 }
 @media (min-width: @screen-xs-min) { 
#clockdiv {
  margin-top: 10px;
}


}
.holder {
  

  margin: 25px auto 10px;
 
}
 @media (min-width: @screen-md-min) { 


 }
 @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { #line{
visibility:none}}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */}


 

body{
  background: url('../img/twinkle_twinkle2.png');
  background-attachment: fixed;
  
  
}

.navbar a{
	display: block;
}
.logo {
	
	
	margin: 0 auto;

}
.skull {

	margin: 0 auto;
	z-index:   10;
 
}

#soundcloud {
	background: url('../img/soundcloud-(2).png') 0 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;

}

#soundcloud:hover {
	background: url('../img/soundcloud-(2).png') 32px 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;

cursor: pointer;
}
#vk {
	background: url('../img/vk-(2).png') 0 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

#vk:hover {
	background: url('../img/vk-(2).png') 32px 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
cursor: pointer;
}
#instagram {
	background: url('../img/instagram.png') 0 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

#instagram:hover {
	background: url('../img/instagram.png') 32px 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
cursor: pointer;
}
#facebook {
	background: url('../img/facebook.png') 0 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

#facebook:hover {
	background: url('../img/facebook.png') 32px 0;
	background-size: auto 100%;
	height: 32px;
	width: 32px;
cursor: pointer;
}

.holder {
	
	-webkit-animation: neon6 0.7s ease-in-out infinite alternate;
  -moz-animation: neon6 0.7s ease-in-out infinite alternate;
  animation: neon6 0.7s ease-in-out infinite alternate;
 -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
/*outline: 12px solid #FF00E6;
outline-offset: 10px;*/
	margin: 100px auto 70px;
	background: #12eef7;
}

 h1 {
webkit-animation: neon7 0.7s ease-in-out infinite alternate;
  -moz-animation: neon7 0.7s ease-in-out infinite alternate;
  animation: neon7 0.7s ease-in-out infinite alternate;
	  background: transparent;
font-family: 'Furore';
font-size: 50px;
}
.buy {
  color: white;
}
.buy a {
	 text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  color:#f215f4;
}
.buy a:hover{
	color: white;
}

#info {
  font-family:'Furore';
  text-align: justify;
  color:white;
}
.numbers {
    font-family:'Furore';
  
  color:white;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  
}
#line{
  margin-right: 5px;
  width: 10px;
  display: inline-block;
}
.pink-text{
  color: #f215f4;
}
.numbers span.pink-text {
  margin: 0 5px;
}

/***********************CLOCK DIV****************************/

#clockdiv:before {
  content:'ДО НАЧАЛА ТУСОВКИ ОСТАЛОСЬ:';
  font-family:'Furore';
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 17px;
  color: white;

}
#clockdiv{
margin-top: 45px;
   margin: 45 auto 10px;
  font-family: 'Furore';
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 16px;
}

#clockdiv > div{
  padding: 7px;

  background: #12eef7;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
 
 
  background: black;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 14px;
text-align: center;
min-width: 60px;

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
#clockdiv{

   margin: 45px auto 0;
  font-family: 'Furore';
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 14px;
}

#clockdiv > div{
  padding: 4px;
  margin: 5px 5px;
  background: #12eef7;
  display: inline-block;
}
#clockdiv > div:nth-child(2){


}
#clockdiv div > span{
  padding: 9px;
 
 
  background: black;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 12px;
text-align: center;
min-width: 30px;

}
}



/*?BOB ANIMATION???????????????????????????????????????????????*/

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*GROW ROTATE*/

.hvr-grow-rotate {
  
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {

  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




/*NEONNNNNNN*/



@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}


@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@-webkit-keyframes neon7 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@-moz-keyframes neon7 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}


@keyframes neon7 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}


@-webkit-keyframes neon8 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@-moz-keyframes neon8 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}


@keyframes neon8 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}




