$primary-color: whitesmoke;
$secondary-color: #da259c;
// $primary-font: 'Glober';
$primary-font: 'Qlassik';
$background-animated: url('../img/wn.gif'); 
@mixin gradient-background {
 background: rgba(153,0,255,1);
background: -moz-linear-gradient(left, rgba(153,0,255,1) 0%, rgba(5,26,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(153,0,255,1)), color-stop(100%, rgba(5,26,255,1)));
background: -webkit-linear-gradient(left, rgba(153,0,255,1) 0%, rgba(5,26,255,1) 100%);
background: -o-linear-gradient(left, rgba(153,0,255,1) 0%, rgba(5,26,255,1) 100%);
background: -ms-linear-gradient(left, rgba(153,0,255,1) 0%, rgba(5,26,255,1) 100%);
background: linear-gradient(to right, rgba(153,0,255,1) 0%, rgba(5,26,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9900ff', endColorstr='#051aff', GradientType=1 );
}